
.app {
  font-size: 20px;
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.text {
  background-color: rgba(220, 20, 60, 0.5);
  padding: 20px;
  height: 300px;
}

.button {
  padding: 10px 20px;
  border: 2px solid rgba(100, 148, 237, 0.5);
  font: inherit;
  color: rgb(116, 0, 23);
  font-weight: bold;
  background-color: rgba(95, 224, 241, 0.7);
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.selected {
  background-color: rgba(220, 20, 60, 0.5);
  border-bottom: 2px solid rgba(220, 20, 60, 0);
}
